{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <title>House 3D</title>
</head>
<body>
<header class="navbar navbar-light bg-secondary fixed-top container-fluid d-flex bd-highlight px-5 mb-5">
    <a href="{% url 'Indice' %}"><img src="{% static 'img/iconoFacherito.png' %}" width="50" height="50" alt=""></a>
    <div class="d-flex">
        <a class="text-white pe-3 nav-link" href="{% url 'Productos' %}"><h5>Productos</h5></a>
        <a class="text-white pe-3 nav-link" href="{% url 'Reservas' %}"><h5>Reservar</h5></a>
        <a class="text-white pe-3 nav-link" href="{% url 'Contacto' %}"><h5>Contacto</h5></a>
        <a class="text-white pe-3 nav-link" href="{% url 'Cliente' %}"><h5>Clientes</h5></a>
        <a class="text-white pe-3 nav-link" href="{% url 'Registro' %}"><h5>Registrarte</h5></a>
    </div>
</header>
<h1 class="justify-content-center mt-5 pt-5">Reservar un modelo</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="reserva">
            <form method="POST" class="p-3 p-xl-4">
                <div class="mb-3"><input id="name-1" class="form-control" type="text" name="cliente"
                                         placeholder="Dni del cliente"/></div>
                <div class="mb-3"><input id="modelo-1" class="form-control" type="number" name="modelo"
                                         placeholder="Id del Modelo"/></div>
                <div class="mb-3"><input id="fecha-1" class="form-control" type="date" name="fecha"
                                         placeholder="Fecha"/></div>
                <div class="mb-3"><input id="cantidad-1" class="form-control" type="number" name="cantidad"
                                         placeholder="Cantidad"/></div>

                <div>
                    <button class="btn btn-primary d-block w-100" type="submit">Reservar</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
</body>
</html>